 <% if blog.favorited_by?(current_user) %>
    <p>
      <%= link_to blog_blog_favorites_path(blog), method: :delete do %>
        ♥<%= blog.blog_favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to blog_blog_favorites_path(blog), method: :post do %>
        ♡<%= blog.blog_favorites.count %> いいね
      <% end %>
    </p>
  <% end %>