<!-- Comments Form -->
<!--        <div class="card my-4">-->
<!--          <h5 class="card-header">Leave a Comment:</h5>-->
<!--          <div class="card-body">-->
<!--            <form>-->
<!--              <div class="form-group">-->
<!--                <textarea class="form-control" rows="3"></textarea>-->
<!--              </div>-->
<!--              <button type="submit" class="btn btn-primary">Submit</button>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->

        <!-- Single Comment -->
        <div class='comment'>

          <% review.review_comments.each do |review_comment| %>
          <div class="media-body">
            <h5 class="mt-0"><%= review_comment.user.name %> </h5>


            <%= review_comment.comment %><br>
            Posted on <%= review_comment.created_at.strftime('%Y/%m/%d') %>
            <% if review_comment.user == current_user %>
            <div class="comment-delete">
            <%= link_to "Delete", review_review_comment_path(review, review_comment), method: :delete, class: "btn btn-sm btn-danger destroy_book" %>
            </div>
            <% end %>
          <br>
          </div>

          <% end %>
        </div>
