
        <!-- Single Comment -->
        <div class='comment'>

          <% review.review_comments.each do |review_comment| %>
          <div class="media-body">
            <h5 class="mt-0"><%= review_comment.user.name %> </h5>


            <%= review_comment.comment %><br>
            Posted on <%= create_at_by(review_comment) %>
            <% if review_comment.user == current_user %>
            <div class="comment-delete">
            <%= link_to "Delete", review_review_comment_path(review, review_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger destroy_book" %>
            </div>
            <% end %>
          <br>
          </div>

          <% end %>
        </div>
