<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, Admin!</h1>
      <h3>This will be displayed if you are logged in as an administrator. The main management is checking messages from users.If you can afford it, play with it!</h3>
    </div>
  </div>

  <h3 div class="adminindex"><%= link_to 'START', my_page_path(current_user),class: 'd-none d-lg-block nav-link mr-3' %></h3>

</main>

