<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, Members!</h1>
      <h3>TFirst of all, let's write your own experience on the blog!
          Or give a rating for your recommended product!
          You can also ask questions that you don't understand!
      </h3>
    </div>
  </div>

  <h3 div class="adminindex"><%= link_to 'START', my_page_path(current_user),class: 'd-none d-lg-block nav-link mr-3' %></h3>

</main>

