
        <div class='comment'>

          <% question.question_comments.each do |question_comment| %>
          <div class="media-body">
            <h5 class="mt-0"><%= question_comment.user.name %> </h5>


            <%= question_comment.comment %><br>
            Posted on <%= create_at_by(question_comment) %>
            <% if question_comment.user == current_user %>
            <div class="comment-delete">
            <%= link_to "Delete", question_question_comment_path(question, question_comment), method: :delete ,remote: true, class: "btn btn-sm btn-danger destroy_book" %>
            </div>
            <% end %>
          <br>
          </div>

          <% end %>
        </div>
