<div class="jumbotron text-center", style="background-color: #ffffff">
  <div class='container'>
    <div class='row'>
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-12'>
        <h2 style="font-size: 80px">About</h2><br>
        <p style="font-size: 20px">It is a blog-type information sharing site that includes SNS elements.</p>
        <p style="font-size: 20px">As the name implies, you can easily share the knowledge you gained in your life through blogs</p>
        <p style="font-size: 20px">and get the information you want when browsing.</p>
        <p style="font-size: 20px">It is a site where you can help someone and learn through SNS.</p>
        <p style="font-size: 20px">Please use it to interact and gain knowledge.</p>
      </div>

      <div class="about-image"></div>

    </div>
  </div>
</div>

