/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chango&display=swap');
header{
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.wrapper{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */

    padding-bottom: 5px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

.body {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
}



.footer-style {
    // position: absolute;/* ←絶対位置 */
    // bottom: 0;
    /* 以下 背景色やテキストカラーなどはお好みで指定してください */
    background-color: powderblue;
    color: #fff;
    text-align: center;
}

// detailsページの変更部分

.comment{
    width: 715px;
    height: auto;
    // 領域外にはみ出た部分の折り返し
    overflow-wrap: break-word;
}

.detail-title{
    // 領域外にはみ出た部分の折り返し
    overflow-wrap: break-word;
}


.detail-content{
    // 領域外にはみ出た部分の折り返し
    overflow-wrap: break-word;
}

.blog-card{
  padding-bottom: 0px; /* ←Mｙブログの高さを指定 */
  margin-bottom: 15px;
}

// indexの指定
.card-body{
    width: auto;
    height: 500px;
    // 領域外にはみ出た部分の折り返し

}

.cardwid{
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-footer{
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    padding: auto;
    text-align: left;
}