<footer class="footer">

      <div class='row'>
        <div class='mx-auto'>
          <h4>Welcome to LifeWorth♪</h4>
          <h4>-　Created on March 28, 2021　created by　Takahiro Mori　-</h4>
        </div>
      </div>

</footer>